<h1>Welcome to my Message Board</h1>

<p>This site was created by Pablo Vera. You can ask new questions, delete questions. etc</p>

{{#link-to 'contact'}}Contact Us.{{/link-to}}
<br>
{{#link-to 'index'}}Home{{/link-to}}
