<div class="links">
{{#link-to 'contact'}}Contact Us{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
</div>


<div class="jumbotron">
<h2 id="title">Message Board</h2>
</div>

<ul>
  {{#each model.questions as |question|}}
  {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question save2="save3"}}
