<div class="links">
{{#link-to 'contact'}}Contact Us{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
</div>


<div class="jumbotron">
<h2 id="title">Message Board</h2>
</div>

<ul>
  {{#each model.questions as |question-from-template|}}
  {{question-tile question-in-component=question-from-template update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
  {{#each model.answers as |answer|}}
  {{new-answer question=model saveAnswer="saveAnswer"}}
  {{/each}}
</ul>

{{new-question save2="save3"}}
