<div class="jumbotron">
<h2 id="title">Message Board</h2>
</div>

<ul>
  {{#each model as |question-from-template|}}
  {{question-tile question-in-component=question-from-template destroyQuestion="destroyQuestion" update="update"}}
  {{/each}}
</ul>
